.input_div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    margin-top: 1rem;
}
.button_div{
margin-top:1rem;
}
.form{
    display: flex;
    flex-direction: column;
    width:auto; 
    border: solid 2px;
    background-color: #8ac1e2;
    /* background-color:lightgray; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 10px;
    padding: 1rem;
     /*  max-height: 200px; Postavite visinu po želji */
     overflow-y: auto;
}
.button_div button{
    color:white;
    width:100px;
    height: 35px;
    margin-bottom:10px;
    margin-left: 20px;
    background-color:#1351d8;
    border: 1px solid #1351d8;
    cursor: pointer;
    font: inherit;
    cursor: pointer;
    font-weight: bold;
    padding: 0.25rem 2rem;
    border-radius: 20px;
}
.button_div button:hover,
.button_div button:active {
  background-color: #021c53;
  border-color: #021c53;
}
.form input {
    height:2rem;
    font-size:1rem;
}
.main_div{
position: center;
}

.startForm_div{
    display: flex;
    flex-direction: column;
    width:auto; 
    border: solid 2px;
    background-color: #8ac1e2;
    /* background-color:lightgray; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
    border-radius: 10px;
    padding: 1rem;
     /*  max-height: 200px; Postavite visinu po želji */
    overflow-y: auto;
    height: 5rem;
    justify-content: space-between;
    
}
.chosse_event_content{
        
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    max-height: 140px; /* Postavite visinu po želji */
    overflow-y: auto;

    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
  
}
.checkbox{
    display: flex;
    align-items: center;
    margin: 2px;
    width: calc(40% - 10px);
}
@media (max-width: 1370px)   {
  
    .startForm_div{
        width: auto;
        justify-content:space-between;
        flex-direction: row;
  }
}