.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7rem;
    background-color: #1c87c5;
    color: white;
    display: flex;
    
    align-items: center;
    padding: 0 0.01%; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;

  }
  .header_div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
    padding: 0 0.01%; 
    display: flex;
    justify-content: space-between;
    align-items: center;

   

  }
  .header button{
    margin: 2rem;
  }
  button {
    font: inherit;
    cursor: pointer;
    background-color: #1351d8;
    border: 1px solid #1351d8;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

  }
  
  button:hover,
  button:active {
    background-color: #021c53;
    border-color: #021c53;
  }
  
  .main-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  
  .main-image img {
    width:  110%;;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
  }



  .menuIcon {
    display: block; /* Inicijalno skrivena na desktopu */
    cursor: pointer;
    padding: 10px;
}

.menuItems {
    width:auto;
    background-color: #333;


}
.mobile{
  display: none;
}

.logout{
  text-align: center;
  align-items: center;
  display: flex;
}
/* Medija upit za mobilne uređaje */
@media (max-width: 1370px)   {
  
  .header_div{

    display: none;
}
.header_divOpen{

  display: block;
  position: fixed;
  right: 0; /* Postavljamo da ide skroz desno */
  width:40%;
  max-height: 45rem;
  padding-top: 35rem;
  display: flex;
  flex-direction: column;
  background-color: #4aa8df;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.55);

}
button {
  font: inherit;
  cursor: pointer;
  background-color: #1351d8;
  border: 1px solid #1351d8;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  width: 15rem;
  height: 3rem;
 
}
.mobile{
  display: block;
  margin-left: 2rem;
}

}
@media (max-width: 768px) {
  
  .header_div{

    display: none;
}
.header_divOpen{

  display: block;
  position: fixed;
  right: 0; /* Postavljamo da ide skroz desno */
  width:40%;
  max-height: 45rem;
  padding-top: 35rem;
  display: flex;
  flex-direction: column;
  background-color: #4aa8df;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.55);

}
button {
  font: inherit;
  cursor: pointer;
  background-color: #1351d8;
  border: 1px solid #1351d8;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  width: 9rem;
  font-size: small;
 
}
.mobile{
  display: block;
  margin-left: 2rem;
}

}

@media (max-width: 1370px) and (max-height: 430px)  {
   
  .header_div{

    display: none;
}
.header_divOpen{

  display: block;
  position: fixed;
  right: 0; /* Postavljamo da ide skroz desno */
  width:60%;
  max-height: 25rem;
  padding-top: 17rem;
  display: flex;
  flex-direction: column;
  background-color: #4aa8df;
  align-items:flex-end;
  border-radius: 20px;
  overflow-y:auto;
  box-shadow: 0 20px 80px rgba(0, 0, 0, 0.55);

}
button {
  font: inherit;
  cursor: pointer;
  background-color: #1351d8;
  border: 1px solid #1351d8;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  width: 9rem;
  font-size: small;
 
}
.mobile{
  display: block;
  margin-left: 2rem;
}

}